.recommended-flex{
    display: flex;
    margin-left: 20rem;

}
.recommended-title{
    margin-left:20rem ;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.btns{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 29px;
    margin-right: 6px;
    background: transparent;
    border: none;
    border: 0.6px solid #ccc;
    border-radius: 5px;
    color:#323232;
    cursor:pointer;
  }  